<head>
    <link rel="stylesheet" href="/css/admin_products_view.css?<%=Time.now.to_i%>">
</head>

<section class="admin-products"> 
    <div class="product-container">

        <% @all_products.each do |product|%>
            <div class="product">
                <a class="product-image-container" href="/products/<%=product['id']%>">
                    <img src="<%= product['image_path']%>" alt="">
                </a>
                <div class="product-info-container">
                    <a href="/products/<%=product['id']%>">
                        <p class="title"><%= product['title']%></p>
                        <p class="price"><%= product[:formated_price]%> SEK</p>
                    </a>

                    <div class="product-controlls">


                        <a href="/products/<%= product['id']%>/edit">
                            Edit
                        </a>
                        <a href="/products/<%= product['id'] %>">
                            View
                        </a>
                        <form action="/products/<%= product['id']%>/delete" method="POST">
                            <input type="submit" value="Delete" class="">
                        </form>
                    </div>
                </div>
            </div>

        <% end %>

    </div>
</section>
