<head>
    <link rel="stylesheet" href="/css/cart.css?<%=Time.now.to_i%>">
</head>

<section class="cart-section">
            <h1 class="header">Your cart</h1>
            <div class="cart-container">
                <div class="product-container">
                    
                    <% if !@cart.empty?%>
                        <%@cart.each do |product|%>
                            <div class="product">
                                <a class="product-image-container" href="/products/<%=product['id']%>">
                                    <img src="<%=product['image_path']%>" alt="">
                                </a>
                                <div class="product-info-container">
                                    <a href="/products/<%=product['id']%>">
                                        <p class="title"><%=product['title']%></p>
                                        <p class="price"><%=product[:formated_price]%></p>
                                    </a>

                                    <form action="/cart/<%=product['id']%>/delete" method="post" class="product-controlls">
                                        <button class="remove-button-1">
                                            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'>
                                                <path
                                                    d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                                                </path>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                        <p>Your cart is empty...</p>
                    <% end %>
                    
                    

                </div>


                <div class="checkout-container">
                    <h2>Summary</h2>
                    <div class="overview">

                        <% if !@cart.empty? %>
                            <% @cart.each do |product| %>
                                <div class="product-part">
                                    <div class="part">
                                        <a class="product-name" href="/products/<%=product['id']%>"><%=product['title']%></a>
                                        <form action="/cart/<%=product['id']%>/delete" method="post">
                                            <button class="remove-button-2">
                                                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'>
                                                    <path
                                                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>

                                    <div class="part">
                                        <p class="label">
                                            Price
                                        </p>
                                        <p class="info">
                                            <%=product[:formated_price]%> SEK
                                        </p>
                                    </div>
                                </div>
                            <% end %>

                        <% end %>
                        

                        <div class="part total-cost-part">
                            <p class="label">Total cost</p>
 
                            <p class="info"><%= @total_cost_formated %> SEK</p>
                        </div>

                    </div>

                    <button class="btn-1">Checkout</button>
                </div>
            </div>

            <a href="/products" class="keep-shopping-btn">Keep shopping</a>

        </section>
