<div class="update-to-dos-container">
    <h2>Ändra på befintlig todo</h2>
    <form action="/todos/<%= @todo['id'] %>/update" method="post">
        <label>Titel <input type="text" name="title" value="<%= @todo['title'] %>"></label>

        <label>Beskrivning</label>
        <textarea class="textarea" rows="5" name="description"><%= @todo['description'] %></textarea>

        <label for="kategori">Kategori</label>
        <input type="text" name="category" placeholder="ex. kategori1;kategori2;kategori3 osv (beta)" value="<%= @todo_categories%>">

        

        <label for="due-date">Due date</label>
        <input type="date" id="due-date" name="due_date" value="<%= @todo['due_date'] %>">
        <input type="submit" value="Spara" class="button-classic">

    </form>
    <form action="/todos" method="GET">
        <input type="submit" value="Avbryt" class="button-hollow">
    </form>
</div>