<form action="/todos/<%= @todo['id'] %>/update" method="post">
    <label>Titel <input type="text" name="title" value="<%= @todo['title'] %>"></label>
    <label>Beskrivning <input type="text" name="description" value="<%= @todo['description'] %>"></label>

    <label for="kategori">Kategori</label>
    <select id="kategori" name="category">
        <option value="kategori1" <%= @todo['category'] == 'kategori1' ? 'selected' : '' %>>kategori 1</option>
        <option value="kategori2" <%= @todo['category'] == 'kategori2' ? 'selected' : '' %>>kategori 2</option>
        <option value="kategori3" <%= @todo['category'] == 'kategori3' ? 'selected' : '' %>>kategori 3</option>
        <option value="kategoriwan" <%= @todo['category'] == 'kategoriwan' ? 'selected' : '' %>>Namba wan</option>
    </select>

    <label for="due-date">Due date</label>
    <input type="date" id="due-date" name="due_date" value="<%= @todo['due_date'] %>">
    <input type="submit" value="Spara" class="button-classic">
</form>
