<section class="to-do-container">

    <div class="all-to-dos-container">        
        
        <form action="/todos/filter-sort" method="post">
            <label>Filtrera kategorier</label>
            <select id="kategori" name="category">
                <option value="-">Välj filter</option>
                <% @all_categories.each do |category|%>
                    <option value="<%= category['id']%>"><%= category['name']%></option>
                <%end%>
            </select>
            <label>Sortera</label>
            <select id="" name="sort_info">
                <option value="-">Välj sorteringsmetod</option>
                <option value="due-date-inc">Due date - tidigaste</option>
                <option value="due-date-dec">Due date - senaste</option>
                <option value="post-date-inc">Post date - tidigaste</option>
                <option value="post-date-dec">Post date - senaste</option>
                <option value="titel">Titel - alfabetisk</option>
                <option value="category">Kategorier - alfabetisk</option>
            </select>
            <input type="submit" value="Sök" class="button-classic">
        </form>
        <form action="/todos" method="get">
            <input type="submit" value="Rensa" class="button-hollow">                    
        </form>

        <div class="active-to-dos-container">




            <h2>ToDo's to do</h2>
            
            


            <div class="to-do-card-container">
                <%if @not_completed_todos%>

                    <%@not_completed_todos.each do |element|%>
                        <div class="to-do-card">
                            <div class="to-do-info">
                                <div class="">
                                    <h3><%= element['title'] %></h3>
                                    <% element['name'].each do |category|%>
                                        <p><%= category%></p>
                                    <%end%>
                                </div>
                                <div class="date-info">
                                    <p>Due date: <%= element['due_date']%></p>
                                    <p>Post date: <%= element['post_date']%></p>
                                </div>
                                
                            </div>
                            <p class="description"><%= element['description']%></p>
                            <div class="buttons">
                                <form action="/todos/<%=element["id"]%>/delete" method="POST">
                                    <input type="submit" value="Ta bort" class="button-classic">
                                </form>
                                <form action="/todos/<%= element['id']%>/updatestatus" method="POST">
                                    <input type="submit" value="Färdig"
                                    name="status_complete" class="button-classic">
                                </form>
                                <form action="/todos/<%= element['id']%>/edit" method="GET">
                                    <input type="submit" value="Ändra" class="button-hollow">
                                </form>
                            </div>
                        </div>
                    <%end%>
                <%end%>

            </div>

        </div>


        <div class="non-active-to-dos-container">
            <h2>Färdiga ToDo's</h2>


            <div class="to-do-card-container">


                <%if @completed_todos%>

                    <%@completed_todos.each do |element|%>
                        <div class="to-do-card">
                            <div class="to-do-info">
                                <div class="">
                                    <h3><%= element['title'] %></h3>
                                    <% element['name'].each do |category|%>
                                        <p><%= category%></p>
                                    <%end%>
                                </div>
                                <div class="date-info">
                                    <p>Due date: <%= element['due_date']%></p>
                                    <p>Post date: <%= element['post_date']%></p>
                                </div>
                                
                            </div>
                            <p class="description"><%= element['description']%></p>
                            <div class="buttons">
                                <form action="/todos/<%=element["id"]%>/delete" method="POST">
                                    <input type="submit" value="Ta bort" class="button-classic">
                                </form>
                                <form action="/todos/<%= element['id']%>/updatestatus" method="POST">
                                    <input type="submit" value="Inte färdig"
                                    name="status_complete" class="button-classic">
                                </form>
                                <form action="/todos/<%= element['id']%>/edit" method="GET">
                                    <input type="submit" value="Ändra" class="button-hollow">
                                </form>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            </div>
        </div>

    </div>        

    <div class="place-new-to-dos-container">
        <h2>Ny ToDo</h2>
        <form action="/todos/new" method="post">
            <label>Titel<input type="text" name="title"></label>
            <label>Beskrivning</label>
            <textarea class="textarea" name="description" rows="5"></textarea>
            <label for="category">Kategorier</label><input type="text" name="category" placeholder="ex. kategori1;kategori2;kategori3 osv (beta)">
            <label for="due-date">Due date</label>
            <input type="date" id="due-date" name="due_date">
            <input type="submit" value="Spara" class="button-classic">
        </form>
        <form action="/delete-all" method="post">
            <label>Delete all stuff</label>
            <input type="submit" class="button-classic" value="Delete all stuff">
        </form>
    </div>



</section>